
body {
    background: linear-gradient(212deg, rgba(108,212,181,1) 0%, rgba(22,199,232,1) 100%);
}
.form-register {
    width: 50%;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    background-color: white;
    border: 3px solid #1f53c5;
    color:#1f53c5;
    font-family: 'calibri';
}
.nombreUsuario{
    margin-top: 100px;
}

input{
    color: white;
    width: 95%;
    padding: 10px;
    border-radius:4px;
    margin-bottom:16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}
.inputSubmit{
    margin-left: 200px;
    width: 40%;
    padding: 10px;
    background-color: #1f53c5;
    color:white;
}
