*{
    margin: auto;
    padding: auto;
}


body {
    background: linear-gradient(212deg, rgba(108,212,181,1) 0%, rgba(22,199,232,1) 100%);
}

.Card {
    width: 1700px;
    height: 750px;
   
    margin-left:100px;
    margin-top:100px;
    position: relative;
    border: 5px solid black;
}


.SingUp{
    display: flex;
    justify-content: center;
}

.Register{
    display: flex;
    justify-content: center;
}

.back-box{
    background: #1C3144;
    width: 1700px;
    height: 750px;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    opacity: 0,95;
}

.back-box h3{
    color:white;
    font-size: 50px;
    
}

.back-box p{
    color: white;
    margin-top: 40px;
    font-size: 25px;
}


.data {
    display: flex;
    align-items: center;
}
.data form{
    background-color: white;
    width: 100%;
    position: absolute;
}

/*
.eslogan-card{
    position: absolute;
    height: 750px;
    width: 1200px;
    left:500px;
    background: #1C3144;
    
}

h1
{
    background: #1C3144;
    color:white;
    text-align: center;
    margin-top:250px;
    font-size: 100px;
}

h2{
    background: #1C3144;
    font-size: 30px;
    color:white;
    text-align: center;
}

#h2-text1{
    margin-top: 70px;
}
#h2-text2,#h2-text3{
    margin-top: 20px;
}



.Data{
    
    justify-content: space-between;
    display: flex;
  
    align-items: center;
}

.SingUp{
    background: white;
    border: 2px solid #1C3144;
    margin-left: 100px;
    margin-top:50px;
    height: 650px;
    width: 300;
    
}
*/

